<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Dulces Tipicos de Xicotepec</title>
</head>

<body>
    <div data-role="page" data-theme="b">
        <div data-role="header" style="background-color: #ff69b4; color: #fff;">
            <h1>Dulces Tipicos de Xicotepec</h1>
        </div>
        <div data-role="content">

            <div class="ui-grid-b center" style="text-align: center;">
                <div class="ui-block-a"><a class="ui-shadow ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-b"><a href="/insert/insertCandy" class="ui-shadow ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-b"><a href="/viewCart/Cart" class="ui-shadow ui-btn ui-corner-all ui-icon-shop ui-btn-icon-notext ui-btn-inline">Button</a></div>
            </div>

            <div class="ui-grid-b">
                <% for (let i = 0; i < candy.length; i++) { %>
                    <div class="ui-block">
                        <div class="ui-card ui-shadow">
                            <div class="ui-card-header" style="background-color: #f3e39d;">
                                <h2 style="color: black;"><%= candy[i].description %></h2>
                                <img src="https://www.gob.mx/cms/uploads/article/main_image/113377/PORTADAS_dulces.jpg" alt="Imagen" style="width: 100%; height: 280px;">
                            </div>
                            <div class="ui-card-content" style="background-color: #ffdab9;">
                                <p style="color: black;">Brand: <%= candy[i].brand %></p>
                                <p style="color: black;">Price: <%= candy[i].price %></p>
                            </div>
                            <div class="ui-card-footer" style="background-color: #f3e39d;">
                                <p style="color: black;">Stock: <%= candy[i].stock %></p>
                            </div>
                            <div class="ui-block-c"><a href="/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline">Button</a></div>
                            <div class="ui-block-c"><a href="/delete/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline">Button</a></div>
                            <a href="/addToCart/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Add to Cart</a>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>
        <div data-role="footer" style="background-color: #ff69b4; color: #fff;">
            <h5>Desarrollado por Gris❤️</h5>
        </div>
    </div>
</body>

</html>
